/* FONTFACE */
@font-face {
    font-family: 'urbanist-regular';
    src: url('../font/Urbanist-Regular.ttf');
}

@font-face {
    font-family: 'urbanist-medium';
    src: url('../font/Urbanist-Medium.ttf');
}

@font-face {
    font-family: 'urbanist-semibold';
    src: url('../font/Urbanist-SemiBold.ttf');
}

@font-face {
    font-family: 'urbanist-bold';
    src: url('../font/Urbanist-Bold.ttf');
}
/* END FONTFACE */


/* VARIABLE ROOT */
:root {
    --primary-color: 38, 151, 255;
    --light-color: 255, 255, 255;
    --dark-color: 33, 35, 50;
    --second-dark-color: 42, 45, 62;
    --third-dark-color: 50, 52, 72;
    --yellow-color: 246, 196, 106;
    --red-color: 213, 80, 81;
    --background-color-gradient: linear-gradient(to right, rgb(38, 151, 255) , rgb(95, 177, 253));
    --background-color-gradient-hover: linear-gradient(to right, rgb(95, 177, 253), rgb(38, 151, 255));
    --transition-duration: 250ms;
    --urbanist-regular: 'urbanist-regular', Arial, Helvetica, sans-serif;
    --urbanist-medium: 'urbanist-medium', Arial, Helvetica, sans-serif;
    --urbanist-semibold: 'urbanist-semibold', Arial, Helvetica, sans-serif;
    --urbanist-bold: 'urbanist-bold', Arial, Helvetica, sans-serif;
}
/* END VARIABLE ROOT */


/* GLOBAL SETUP */
* {
    font-family: var(--urbanist-medium);
    color: rgba(var(--light-color), 0.52);
}

body {
    background-color: rgba(var(--dark-color), 1);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

a {
    display: inline-block;
    width: fit-content;
    text-decoration: none;
    color: rgba(var(--light-color), 0.52);
}
/* END GLOBAL SETUP */


/* GENERAL */
form.form {
    width: 100%;
    gap: 18px;
}

form.form .input-group {
    width: 100%;
}

form.form .input-group label {
    font-size: 0.875rem;
    color: rgba(var(--light-color), 1);
    margin-bottom: 8px;
}

form.form .input-group .input {
    color: rgba(var(--light-color), 0.52);
    padding: 17px 16px;
    background-color: rgba(var(--dark-color), 1);
    border-radius: 6px !important;
    outline: none;
    border: 1px solid transparent;
    font-size: 0.875rem;
    transition: var(--transition-duration);
}

form.form .input-group .input:focus,
form.form .input-group .input:not(:placeholder-shown) {
    border: 1px solid rgba(var(--light-color), 0.12);
}

form.form .input-group .input::placeholder {
    color: rgba(var(--light-color), 0.32);
    font-size: 0.875rem;
}

form.form label.button-file {
    width: fit-content;
    margin-bottom: 0;
    font-size: 0.875rem !important;
    color: rgba(var(--light-color), 0.32) !important;
}

form.form .input-group .input-hide {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -9999;
}

form.form .button-group {
    margin-top: 6px;
}

.button-primary,
.button-reverse {
    padding: 16px 18px;
    background-image: var(--background-color-gradient);
    border-radius: 6px;
    color: rgba(var(--light-color), 1);
    font-size: 0.875rem;
    outline: none;
    border: none;
    transition: var(--transition-duration);
}

.button-reverse {
    background-image: none;
    background-color: rgba(var(--third-dark-color), 1);
    border: 1px solid transparent;
}

.button-primary:hover {
    box-shadow: 0 6px 12px rgba(var(--light-color), 0.12);
}

.button-reverse:hover {
    border: 1px solid rgba(var(--light-color), 0.12);
}
/* END GENERAL */


/* LOGIN */
.login {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.login .card-login {
    background-color: rgba(var(--second-dark-color), 1);
    border-radius: 14px;
    padding: 42px;
}

.login .card-login .title {
    font-size: 2rem;
    font-family: var(--urbanist-semibold);
    margin-bottom: 24px;
    color: rgba(var(--light-color), 1);
}

.login .card-login .button-primary {
    width: 100%;
    margin-top: 6px;
}

.login .wave-dark {
    position: absolute;
    bottom: -20px;
    animation: waveDarkMove 30s infinite alternate-reverse linear;
}

.login .wave-light {
    position: absolute;
    animation: waveLightMove 30s infinite alternate-reverse linear;
}

@keyframes waveDarkMove {
    0% {
        bottom: -60px;
        right: 0;
    } 25% {
        bottom: -60px;
        right: -15%;
    } 50% {
        bottom: -60px;
        right: -30%;
    } 75% {
        bottom: -60px;
        right: -45%;
    } 100% {
        bottom: -60px;
        right: -60%;
    }
}

@keyframes waveLightMove {
    0% {
        bottom: -60px;
        left: 0;
    } 25% {
        bottom: -60px;
        left: -15%;
    } 50% {
        bottom: -60px;
        left: -30%;
    } 75% {
        bottom: -60px;
        left: -45%;
    } 100% {
        bottom: -60px;
        left: -60%;
    }
}
/* END LOGIN */


/* SIDEBAR */
.sidebar {
    width: 260px;
    height: 100vh;
    background-color: rgba(var(--second-dark-color), 1);
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    padding: 42px 35px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 800ms;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar .sidebar-link {
    margin-top: 42px;
    height: -webkit-fill-available;
    padding-bottom: 42px;
}

.sidebar .sidebar-link .wrapper {
    gap: 10px;
}

.sidebar .sidebar-link .link-item,
.sidebar .sidebar-link-logout .link-item {
    width: 100%;
    padding: 15px;
    background-color: rgba(var(--third-dark-color), 1);
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 0.875rem;
    color: rgba(var(--light-color), 0.52);
    position: relative;
    z-index: 1;
    overflow: hidden;
    gap: 12px;
}

.sidebar .sidebar-link .link-item::before,
.sidebar .sidebar-link-logout .link-item::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--background-color-gradient);
    z-index: -1;
    transition: var(--transition-duration) linear;
    opacity: 0;
}

.sidebar .sidebar-link .link-item:hover p,
.sidebar .sidebar-link .link-item.active p,
.sidebar .sidebar-link-logout .link-item:hover p,
.sidebar .sidebar-link-logout .link-item.active p {
    color: rgba(var(--light-color), 1);
}

.sidebar .sidebar-link .link-item:hover::before,
.sidebar .sidebar-link .link-item.active::before,
.sidebar .sidebar-link-logout .link-item:hover:before,
.sidebar .sidebar-link-logout .link-item.active::before {
    opacity: 1;
}

.sidebar .dashboard-icon,
.sidebar .agenda-icon,
.sidebar .logout-icon {
    width: 17px;
    height: 17px;
    background-image: url('../images/sidebar/dashboard-dark.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar .agenda-icon {
    background-image: url('../images/sidebar/agenda-dark.png');
}

.sidebar .logout-icon {
    background-image: url('../images/sidebar/logout-dark.png');
}

.sidebar .link-item:hover .dashboard-icon,
.sidebar .link-item.active .dashboard-icon {
    background-image: url('../images/sidebar/dashboard-light.png');
}

.sidebar .link-item:hover .agenda-icon,
.sidebar .link-item.active .agenda-icon {
    background-image: url('../images/sidebar/agenda-light.png');
}

.sidebar .link-item:hover .logout-icon,
.sidebar .link-item.active .logout-icon {
    background-image: url('../images/sidebar/logout-light.png');
}

.hamburger {
    width: 48px;
    height: 48px;
    border-radius: 9999px;
    background-color: rgba(var(--second-dark-color), 1);
    border: 1px solid rgba(var(--light-color), 0.12);
    cursor: pointer;
}

.sidebar .item-child {
    margin-left: 24px;
    border-left: 1px solid rgba(var(--light-color), 0.12);
    gap: 14px;
    margin-bottom: 24px;
    height: 0;
    overflow: hidden;
    transition: var(--transition-duration);
}

.sidebar .item-child.active {
    height: fit-content
}

.sidebar .item-child .child-item {
    font-size: 0.875rem;
    color: rgba(var(--light-color), 0.52);
    position: relative;
    padding-left: 22px;
    transition: var(--transition-duration);
}

.sidebar .item-child .child-item:hover {
    color: rgba(var(--light-color), 1);
}

.sidebar .item-child .child-item::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 1px;
    background-color: rgba(var(--light-color), 0.12);
}

@media (max-width: 991.98px) {
    .sidebar {
        left: -260px;
    }

    .sidebar.show {
        left: 0;
    }
}
/* END SIDEBAR */


/* MODAL */
.modal .modal-content {
    border-radius: 10px;
    background-color: rgba(var(--second-dark-color), 1);
}

.modal .modal-content .modal-body {
    padding: 42px;
}

.modal .modal-content .button-exit {
    background-color: transparent;
    border: none;
    outline: none;
}

.modal .modal-content .title {
    font-size: 1.625rem;
    font-family: var(--urbanist-medium);
    color: rgba(var(--light-color), 1);
}

.modal .modal-content .form {
    margin-top: 24px;
}

.modal .modal-content .paragraph {
    font-size: 0.913rem;
    color: rgba(var(--light-color), 0.52);
    line-height: 150%;
}
/* END MODAL */


/* DASHBOARD */
.dashboard {
    position: relative;
    overflow-x: hidden;
}

.dashboard-content {
    padding: 32px 42px;
}

.dashboard-content .wrapper {
    margin-bottom: 32px;
}

.dashboard-content .title {
    font-size: 2rem;
    font-family: var(--urbanist-semibold);
    color: rgba(var(--light-color), 1);
}

.dashboard-content .card-menu-dashboard {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(var(--second-dark-color), 1);
    gap: 14px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    transition: var(--transition-duration);
}

.dashboard-content .card-menu-dashboard .wrapper-icon {
    border-radius: 9999px;
    background-image: var(--background-color-gradient);
    width: 44px;
    height: 44px;
}

.dashboard-content .card-menu-dashboard .menu-caption {
    font-size: 0.875rem;
    color: rgba(var(--light-color), 0.52);
    margin-bottom: 4px;
}

.dashboard-content .card-menu-dashboard .menu-value {
    font-size: 1.625rem;
    color: rgba(var(--light-color), 1);
    font-family: var(--urbanist-semibold);
}

.button-action {
    gap: 6px;
}

.detail-button,
.edit-button,
.delete-button {
    width: 32px;
    height: 32px;
    background-image: var(--background-color-gradient);
    border-radius: 5px;
    outline: none;
    border: none;
    transition: var(--transition-duration);
}

.edit-button {
    background-color: rgba(var(--yellow-color), 1);
    background-image: none;
}

.delete-button {
    background-color: rgba(var(--red-color), 1);
    background-image: none;
}

.detail-button:hover,
.edit-button:hover,
.delete-button:hover {
    opacity: 0.9;
}

.card-menu-dashboard .card-menu-title {
    font-size: 1.125rem;
    color: rgba(var(--light-color), 1);
}

.card-menu-dashboard .card-menu-caption {
    font-size: 0.875rem;
    color: rgba(var(--light-color), 0.52);
    margin-top: 8px;
}

.card-menu-dashboard .button-action {
    margin-top: 16px;
}

.card-menu-dashboard:hover {
    box-shadow: 0px 6px 12px rgba(var(--light-color), 0.02);
}

.card-form {
    padding: 32px;
    border-radius: 16px;
    background-color: rgba(var(--second-dark-color), 1) !important;
}

.card-menu-dashboard .card-menu-paragraph {
    font-size: 0.875rem;
    color: rgba(var(--light-color), 0.52);
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (max-width: 767.98px) {
    .dashboard-content {
        padding: 24px;
    }
}
/* END DASHBOARD */
